@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  /* background-color: #0b3f5f; */
  background-color: #0a192f;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
  font-weight: 400; }

#header {
  padding: 2.5rem 1.5rem; }

/**Reusables**/
.btn {
  padding: 0; }

.opaqueBackground {
  font-size: 5rem;
  color: #d9e3e5;
  opacity: 0.03;
  position: relative;
  bottom: -7rem; }

.main-heading {
  margin-left: 2.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #ccd6f6; }

.main-heading span {
  color: #64ffda;
  padding-right: 0.5rem; }

.noIcon,
.none {
  display: none; }

.noListDisplay {
  list-style: none; }

.listItem {
  display: inline;
  padding-left: 20px; }

.mobileItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 1.7rem 0; }

a.link {
  color: #ccd6f6;
  text-decoration: none; }

a.link-a {
  color: #ccd6f6;
  text-decoration: none;
  transition: all .2s;
  padding: 0.75rem 1rem; }

.spanNo {
  color: #64ffda;
  padding-right: 0.7rem; }

.mobileSpan {
  padding-right: 0; }

.spanNo::after {
  content: "."; }

.resume {
  color: #64ffda;
  border: 2px dotted #64ffda;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  transition: all .2s;
  font-size: 14px; }

.resume:hover {
  color: #64ffda;
  border: 2px solid #64ffda;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 14px; }

.mobileCv {
  padding: 0.9rem 1.1rem;
  text-align: center;
  font-weight: 500; }

/**Mobile Navigation**/
.mobile-navbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 75%;
  height: 100%;
  background-color: #132835; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

/**Hero Section**/
.hero-heading {
  color: #64ffda;
  font-size: 1.2rem;
  letter-spacing: 0.06rem; }

.hero-subheading {
  color: #d9e3e5;
  font-size: 4.5rem; }

.heroCodeSub {
  color: #ccd6f6; }

.hero-description {
  color: #ccd6f6;
  letter-spacing: 0.05rem;
  width: 70%;
  line-height: 1.65rem; }

.hero-btn a {
  text-transform: capitalize;
  color: #64ffda;
  border: 2px solid #64ffda;
  border-radius: 8px;
  padding: 1rem 1.15rem;
  text-decoration: none; }

.hero-btn a:hover {
  text-transform: capitalize;
  color: #64ffda;
  border: 2px dotted #64ffda;
  border-radius: 8px;
  padding: 1rem 1.15rem;
  text-decoration: none; }

/**About Section**/
.aboutText {
  color: #ccd6f6;
  line-height: 1.6rem;
  letter-spacing: 0.05rem; }

.techs {
  color: #ccd6f6;
  list-style: none; }

.techs li {
  padding-bottom: 0.5rem; }

.techs li:before {
  content: "▹";
  padding-right: 1rem;
  color: #64ffda; }

/**Experiences Section**/
.tabs {
  margin: 3rem 7rem; }

.workPlaces {
  border-left: 2px solid #a8b2d1;
  border-radius: 20px; }

.workPlaces span {
  padding: 1rem;
  font-weight: 300; }

a.job_tab {
  color: #ccd6f6;
  font-size: 1rem;
  text-decoration: none; }

a.job_tab.active {
  color: #64ffda; }

.job-heading {
  color: #ccd6f6;
  font-size: 1.3rem; }

.job-heading span {
  color: #64ffda; }

.job-date {
  color: #a8b2d1;
  font-size: 1.2rem;
  font-weight: 300; }

.jobDesc ul {
  list-style: none; }

.jobDesc ul li {
  padding-top: 1rem;
  margin-left: 1rem;
  font-size: 0.95rem;
  color: #ccd6f6;
  letter-spacing: 0.01rem;
  line-height: 1.4rem; }

.jobDesc ul li::before {
  content: "▹";
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  color: #64ffda; }

/*Grid Projects**/
.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right; }

.leftProj {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%; }

.left {
  text-align: left !important; }

.projTitle {
  color: #64ffda;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.6rem;
  letter-spacing: 0.1rem; }

.projName {
  color: #ccd6f6;
  font-size: 2.5rem;
  font-weight: bold; }

.projDetails {
  color: #ccd6f6;
  width: 115%;
  /* background-color: #122d3d; */
  background-color: #172a45;
  margin-top: 0.5rem;
  position: relative;
  z-index: 2;
  right: 50;
  border-radius: 5px;
  line-height: 1.5rem;
  padding: 1.25rem;
  text-align: right; }

.technologies {
  list-style: none; }

.technologies li {
  display: inline-block;
  padding-right: 1rem;
  text-transform: capitalize;
  color: #ccd6f6;
  font-size: 15px; }

.fontLinks span a {
  color: #ccd6f6;
  margin-right: 1.7rem; }

.fontLinks span a i {
  font-size: 20px; }

/**Other projects section**/
.otherProjHeader h1 {
  color: #ccd6f6;
  font-size: 2.05rem; }

.otherProjHeader a {
  text-transform: lowercase;
  color: #64ffda; }

.otherProject {
  width: 100%;
  height: 100%;
  background-color: #172a45;
  box-shadow: rgba(10, 13, 17, 0.7) 0px 10px 30px -15px;
  color: #ccd6f6;
  padding: 2rem 1.5rem;
  margin: 0 0.5rem; }

.icons {
  display: flex;
  justify-content: space-between; }

.rightIcons .right {
  font-size: 1.75rem;
  color: #a8b2d1;
  padding: 0 0.3rem; }

.icons .folder {
  font-size: 4rem;
  height: 5rem;
  color: #64ffda;
  font-weight: 200; }

.otherProject .title {
  font-size: 1.4rem;
  font-weight: 600; }

.otherProject .subtitle {
  font-size: 0.95rem;
  font-weight: 200;
  color: #a8b2d1; }

.otherProject ul {
  list-style: none; }

.otherProject ul li {
  display: inline-block;
  font-size: 0.82rem;
  padding: 0 0.5rem;
  color: #a8b2d1; }

/**Contact section**/
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem; }

#contact .main-heading,
#contact .main-heading span {
  color: #64ffda;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin: auto; }

.contactSubHead {
  margin-top: 0.7rem;
  color: #ccd6f6;
  font-size: 2.6rem;
  font-weight: 600; }

.contact-details {
  color: #ccd6f6;
  font-size: 17px;
  width: 60%;
  margin: auto; }

#contact button {
  background-color: #0f3b57; }

.hello {
  margin-top: 1rem;
  text-transform: capitalize;
  border: 2px solid #64ffda;
  border-radius: 8px;
  padding: 0.95rem 1.1rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none; }

.hello a {
  text-decoration: none;
  color: #64ffda; }

.hello:hover {
  margin-top: 1rem;
  text-transform: capitalize;
  border: 2px dotted #64ffda;
  border-radius: 8px;
  padding: 0.95rem 1.1rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none; }

/**Footer Section**/
#footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.socials ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.socials ul li {
  padding: 0 1rem; }

.socials ul li a {
  font-size: 1.5rem;
  color: #64ffda; }

#footer p {
  color: #ccd6f6;
  font-weight: 300;
  font-size: 1rem; }

#footer p span a {
  color: #64ffda; }

/**Responsiveness**/
@media only screen and (max-width: 972px) {
  .hero-description {
    width: 100%; }
  .opaqueBackground {
    font-size: 4rem; }
  .main-heading {
    margin-left: 0;
    font-size: 1.6rem; }
  .tabs {
    margin: 0;
    margin-top: 3rem; }
  .smallMar {
    margin-top: 2.5rem; }
  .contact-details,
  .projDetails {
    width: 100%; }
  .others {
    display: flex;
    flex-direction: column !important; }
  .otherProject {
    margin: 1.5rem; } }

@media only screen and (max-width: 698px) {
  #navbar {
    display: none; }
  .hamburger-icon {
    display: block; }
  .logo {
    width: 40px;
    height: 40px; }
  .hero-subheading {
    font-size: 3.2rem; }
  .heroCodeSub {
    font-size: 2.5rem; }
  .hero-description {
    font-size: 0.9rem; }
  .opaqueBackground {
    bottom: -6.5rem; }
  .tabs .flex-column {
    flex-direction: row !important; }
  .projName {
    font-size: 1.8rem; } }

.about-nav-tab .nav-tabs,
.about-nav-tab .nav-tabs .nav-link {
  border: none;
  border-radius: 0; }

.about-nav-tab .nav-tabs .nav-link {
  font-weight: 500;
  padding: 20px 35px;
  line-height: 1;
  border-bottom: 2px solid; }

.about-nav-tab .nav-tabs {
  margin-bottom: 40px; }

.about-nav-tab .nav-tabs .nav-link {
  color: #ccd6f6; }

.about-nav-tab .nav-tabs .nav-link.active {
  color: #132835; }

.tab-content .tab-pane {
  color: #ccd6f6;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px; }

.list-check {
  margin-bottom: 0;
  padding: 0;
  list-style: none; }

.list-check li {
  font-size: 18px;
  font-style: italic;
  padding-left: 35px;
  position: relative; }

.list-check li {
  margin-bottom: 20px; }

.list-check li i {
  position: absolute;
  left: 0;
  top: 0;
  line-height: inherit; }

@media only screen and (max-width: 480px) {
  .navbar-dark {
    background-color: #0a192f;
    border-bottom: 0.5px ridge #0f3b57; }
  .listItem {
    margin-top: 12px;
    margin-bottom: 12px; } }

/* @media only screen and (min-width: 480px){
    .container{
      padding-left: 60px; padding-right: 60px;
    }
  }*/
.active-li {
  color: #132835;
  border: 2px solid #64ffda;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 14px; }

.link-a:hover {
  border: 2px dotted #64ffda;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 14px; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 21px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #64ffda;
  color: #132835;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%; }

#myBtn:hover {
  background-color: #0f3b57;
  color: #ffffff; }
